<div class="wrapper">
  <div class="content">
    <div class="main-container">
      <div class="title-films d-flex justify-center align-center">
        <div data-lag=".5" class="title">Best  Movies <br> Of 2024</div>
        <div data-speed=".9"  data-speed=".8" class="cards d-flex">
          <div class="card first m-t-30"><img src="assets/images/deadpool.jpeg" alt="" /></div>
          <div class="card second"><img src="assets/images/santa.jpeg" alt="" /></div>
          <div class="card third m-t-30"><img src="assets/images/venom.jpeg" alt="" /></div>
        </div>
      </div>
    </div>    
  </div>
</div>

